@import '../../styles/base/base';

.button {
  border-radius: $border-radius-small;
  font-family: $font-family;
  letter-spacing: inherit;

  &:disabled {
    cursor: unset;
  }

  &--large {
    align-self: center;
    background-color: $color-dark;
    box-shadow: $box-shadow;
    color: $color-white;
    font-size: $font-size-small;
    padding: 0.8rem 3rem;

    &:hover,
    &:focus {
      background-color: $color-dark-hover;
    }
  }

  &--pagination {
    font-size: $font-size-body;
    padding: 0.4rem 1rem;

    &:hover:not(:disabled) {
      transform: scale(1.2);
    }
  }

  &--user {
    margin: 0 3.6rem 0 1rem;
    padding: 1rem;
  }
}
