@import '../../styles/base/base';

.header {
  align-items: center;
  background-color: $color-white;
  box-shadow: $box-shadow;
  color: $color-dark;
  display: flex;
  font-size: $font-size-body;
  height: $height-header;
  justify-content: space-between;

  &__left {
    margin-left: 2rem;
  }

  &__right {
    display: flex;
  }

  &__user-icon {
    align-self: center;
    cursor: pointer;
    margin: 0 4.6rem 0 2rem;
  }
}
