@import '../../styles/base/base';

.header {
  align-items: center;
  background-color: $color-white;
  box-shadow: $box-shadow;
  color: $color-dark;
  display: flex;
  font-size: $font-size-body;
  height: $height-header;
  justify-content: space-between;

  &__logo {
    margin-left: 2rem;
    width: 2.2rem;
  }

  &__right {
    display: flex;
    margin-top: 0.7rem;
  }

  &__user-icon {
    width: 2rem;
  }
}
