@import '../../styles/base/base';

.control-line {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  padding: 0 0.2rem;

  &__search {
    border-bottom: 1px solid $color-black;
    display: flex;
    margin-bottom: 1rem;
  }

  &__search-icon {
    margin-right: 0.5rem;
    width: 1.75rem;
  }

  &__input {
    border: 0;
    font-family: $font-family;
    font-size: $font-size-content;
    letter-spacing: 0.4px;
    padding-bottom: 0.4rem;
    width: 14.5rem;

    &::placeholder {
      color: $color-light-gray;
    }
  }
}
