@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.tabs {
  display: flex;

  &__item {
    margin-left: 4rem;
    position: relative;
    width: 20rem;

    @include respond-to($breakpoint-md, max) {
      font-size: $font-size-content;
      margin-left: 1rem;
      width: 12rem;
    }
  }

  &__link {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 1rem 0;
    width: 100%;
  }

  &__icon {
    margin-right: 1.3rem;

    &--first {
      width: 1.6rem;
    }

    &--second {
      width: 1.9rem;
    }
  }

  .is-active {
    color: $color-dark-active;

    &::before {
      background: $color-dark;
      bottom: -0.3rem;
      content: '';
      height: 0.1rem;
      position: absolute;
      width: 100%;

      @include respond-to($breakpoint-sm, max) {
        bottom: -0.1rem;
      }
    }
  }
}
