@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.layout {
  &__page {
    display: flex;
  }

  &__content {
    align-items: center;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    margin: 2rem 3rem;
    // padding-right: 2rem;
    width: calc(100vw - #{$width-sidebar});
  }
}

@include respond-to($breakpoint-md, max) {
  .layout {
    &__page {
      flex-direction: column;
    }

    &__content {
      margin: 2rem auto;
      // padding-right: 0;
      width: 100%;
    }
  }
}
