@import '../styles/base/base';
@import '../styles/mixins/mixins';

.second {
  border: 1px solid $color-gray;
  border-radius: $border-radius-big;
  padding: 3.1rem 3.5rem 1.3rem 3.1rem;
  width: 80rem;

  @include respond-to($breakpoint-md, max) {
    width: 90%;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-size: $font-size-h1;
    font-weight: $font-weight-normal;
    margin: 0.8rem;
  }

  &__subtitle {
    font-size: $font-size-body;
  }
}
