@import '../../styles/base/base';

.pagination {
  display: flex;
  font-size: $font-size-small;
  justify-content: center;
  justify-self: flex-end;
  margin-top: 2rem;

  &__info {
    align-self: center;
    font-size: $font-size-tiny;
    margin: 0 1rem;
  }

  &__buttons {
    display: flex;
  }
}
