@import '../../styles/base/base';

.navigation {
  width: $width-sidebar;
  min-height: calc(100vh - #{$height-header});
  background-color: $color-dark;
  color: $color-white;
  z-index: $z-index-above;

  &__list {
    font-size: $font-size-body;
    width: 100%;
    text-align: center;
    padding-top: 9rem;
    border-right: 2px solid $color-dark;
  }

  &__item {
    border-top: 1px solid $color-white;

    &:last-child {
      border-bottom: 1px solid $color-white;
    }

    &.is-active {
      background-color: $color-white;
      color: $color-dark;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 1.1rem 0;
  }
}
